# ===============================
# AQI Forecasting Project
# Updated requirements.txt (Oct 2025)
# ===============================

# Core dependencies
requests
pandas>=2.0,<2.2        # limited to <2.2.0 for Hopsworks compatibility
numpy
scikit-learn
matplotlib
tensorflow==2.18.0
shap
streamlit>=1.30.0
flask
python-dotenv

# Hopsworks Feature Store (client version aligned with backend 4.2.2)
hopsworks==4.2.8

# Google Cloud AI Platform
google-cloud-aiplatform

